*:focus {
    outline: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/wp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.search-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.search-bar {
    padding: 1em;
    background-color: transparent;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
    border-radius: 1em !important;
}

.task-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
}

.nav-section {
    margin-top: 1em;
}

.nav-tabs {
    border: none;
}

.nav-item {
    border-radius: 1em;
}

.active {
    color: #000;
    background-color: #fff;
    opacity: 0.75;
}


#notifications-container {
    height: 22.5em;
    background-color: white;
    opacity: 0.75;
    display: block;
    border-radius: 1em;
    border-top-left-radius: 0;
}

#tasks-container {
    height: 300px;
    background-color: white;
    display: none;
}

#notes-container {
    height: 300px;
    background-color: white;
    display: none;
}

#analytics-container {
    height: 300px;
    background-color: white;
    display: none;
}


@media all and (max-width: 1060px) {
    .access-container {
        display: none;
    }
}

/* Quick Access Styles */
.access-container {
    margin-top: 1.9em;
}

.access-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
}

.access-item {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    width: 7.5em;
    height: 7.5em;
    background-color: #fff;
    opacity: 0.75;
    border-radius: 1em;
}

.access-item:hover {

}

.access-item-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: #222;
}

.access-item-desc {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    color: #222;
}



/*
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/wp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.datetime-container {
    position: fixed;
    left: 7em;
    bottom: 3em;
}

.time {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 15vh;
    font-weight: 500;
    color: #fff;
}

.date {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif ;
    font-size: 4vh;
    font-weight: 500;
    color: #fff;
}

.add-container {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 4.5em;
}

.add-container a {
    font-size: 4em;
    color: #fff;
    text-decoration: none;
}

.add-container a:hover {
    color: #ffbe2b;
}

.option-container {
    position: fixed;
    bottom: 9.5em;
    left: 1em;
    z-index: 99;
}

.option-container a {
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
}

.option-container a:hover {
    color: #ffbe2b;
}

.star-container {
    position: fixed;
    bottom: 6em;
    left: 1em;
    z-index: 99;
}

.star-container a {
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
}

.star-container a:hover {
    color: #ffbe2b;
}

.info-container {
    position: fixed;
    bottom: 2.5em;
    left: 1em;
    z-index: 99;
}

.info-container a {
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
}

.info-container a:hover {
    color: #ffbe2b;
}

.weather-container {
    position: fixed;
    right: 7em;
    bottom: 3em;
}

.weather {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif ;
    font-size: 15vh;
    font-weight: 500;
    color: #fff;
}

.location {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif ;
    font-size: 4vh;
    font-weight: 500;
    color: #fff;
}

@media all and (max-height: 610px) {
    .datetime-container {
        display: none;
    }

    .add-container {
        display: none;
    }

    .weather-container {
        display: none;
    }
}

@media all and (max-width: 920px) {
    .weather-container {
        display: none;
    }

    .add-container {
        display: none;
    }
}








.tabs-container {
    position: fixed;
    left: 7.5em;
    top: 2em;
}

.tabs-container h1 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif ;
    font-size: 2em;
    font-weight: 500;
    color: #fff;
}

.quick-access-container {
    position: absolute;
    left: 40em;
    top: 2em;
    width: 99em;
    overflow-x: hidden;
}

.quick-access-container h1 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif ;
    font-size: 2em;
    font-weight: 500;
    color: #fff;
}


.tasks-container {
    position: fixed;
    left: 7.5em;
    top: 5em;
    z-index: 99;
    background-color: #000000;
    opacity: 0.75;
    border-radius: 10px;
    width: 400px;
    height: 350px;
}
*/