*:focus {
    outline: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1060px) {
    .access-container {
        display: none;
    }

    .option-bar-container {
        display: none;
    }

    .access-add-button {
        display: none;
    }

    .bg-title {
        display: none;
    }

    .weather-location-container {
        display: none;
    }

    .weather-more-container {
        display: none !important;
    }
}

@media all and (max-width: 1040px) {
    .task-title {
        font-size: 1.35em !important;
    }
}

@media all and (max-width: 435px) {
    .task-title {
        font-size: 1.25em !important;
    }
}

.bg-image {
    background-image: url('../img/wp.jpg');
}

.bg-title {
    margin-top: 1em;
    padding: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.bg-title:hover {
    color: #00ffff !important;
}

.main-container {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.search-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.search-bar {
    padding: 1em;
    background-color: transparent;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
    border-radius: 1em !important;
}

.search-bar::placeholder,
.search-bar:placeholder-shown,
.search-bar::-webkit-input-placeholder {
    color: #ddd;
}

.task-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
}

.nav-section {
    margin-top: 1em;
}

.nav-tabs {
    border: none;
}

.nav-item {
    border-radius: 1em;
}

.active {
    color: #000 !important;
    background-color: #fff !important;
    opacity: 0.75 !important;
}

.active:visited {
    color: #000 !important;
    background-color: #fff !important;
    opacity: 0.75 !important;
}

#notifications-container {
    height: 22.5em;
    background-color: #fff;
    opacity: 0.75;
    display: block;
    border-radius: 1em;
    border-top-left-radius: 0;
}

.empty-notifications-title {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    color: #222;
    text-align: left;
}

#tasks-container {
    height: 22.5em;
    background-color: #fff;
    opacity: 0.75;
    display: none;
    border-radius: 1em;
    border-top-left-radius: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.empty-tasks-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    color: #222;
    text-align: center;
}

.tasks-area {
    margin: 0.5em;
}

.tasks-items-area {
    margin-top: 1em;
}

.add-task-bar {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    color: #222;
    border-top-left-radius: 0.5em !important;
    border-bottom-left-radius: 0.5em !important;
}

.tasks-item:disabled {
    background-color: #fff;
    cursor: default;
}

#notes-container {
    height: 22.5em;
    background-color: #fff;
    opacity: 0.75;
    border-radius: 1em;
    border-top-left-radius: 0;
    display: none;
}

.notes-area {
    margin: 0.5em;
    width: 97%;
    height: 21em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    color: #222;
    resize: none;
    border: none;
}

#analytics-container {
    height: 22.5em;
    background-color: #fff;
    opacity: 0.75;
    border-radius: 1em;
    border-top-left-radius: 0;
    display: none;
}

.analytics-item-title {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.75em;
    color: #222;
}

.analytics-item {
    padding-left: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    color: #222;
}

.access-container {
    margin-top: 1.9em;
}

.empty-links {
    padding-top: 1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3em;
    color: #fff;
}

.access-link, .access-link:hover, .access-link:visited {
    text-decoration: none !important;
}

.access-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
}

.access-add-button {
    margin-top: 1em;
    padding: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.access-add-button:hover {
    color: #222;
    background-color: #fff;
    opacity: 0.75;
    border-radius: 1em;
}

.access-item {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    width: 7.5em;
    height: 7.5em;
    background-color: #fff;
    opacity: 0.75;
    border-radius: 1em;
    cursor: pointer;
    overflow: scroll;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.access-item:hover {
    box-shadow: 0px 0px 0px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.access-item-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: #222;
}

.access-item-desc {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    color: #222;
}

.secondary-section {
    position: fixed;
    width: 100%;
    bottom: 1.5em;
}

.option-container {
    padding-top: 0;
    font-size: 2em;
}

.option-container a {
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.option-container a:hover {
    color: rgba(81, 203, 238, 1);
}

.time-container {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: #fff;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.date-container {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #fff;
}

.weather-container {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3em;
    color: #fff;
    text-align: right;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.location-container {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    color: #fff;
    text-align: right;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.manage-container {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    z-index: 9999 !important;
    display: none;
}

.manage-area-container {
    height: 9999em;
    background-color: #fff;
    opacity: 0.95;
    overflow-y: hidden;
}

@media all and (max-width: 547px) {
    .manage-title {
        font-size: 3.5em !important;
    }
}

.manage-title {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: #222;
    text-align: center;
}

.manage-close-container {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 999;
}

.manage-close {
    font-size: 2em;
    color: #222 !important;
    cursor: pointer;
}

.manage-close:hover {
    color: rgba(81, 203, 238, 1) !important;
}

.link-error {
    margin-bottom: 1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    color: #8b0000;
    text-align: center;
    display: none;
}

.manage-error {
    margin-bottom: 1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    color: #8b0000;
    text-align: center;
    display: none;
}

.url-error {
    margin-bottom: 1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    color: #8b0000;
    text-align: center;
    display: none;
}

.new-link-area {
    margin-top: 2em;
}

@media all and (max-width: 992px) {
    .new-link-title {
        text-align: left !important;
    }
}

.new-link-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.3em;
    color: #222;
    text-align: right;
}

.new-link-bar {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #222;
}

.new-link-button {
    padding-left: 2em;
    padding-right: 2em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #222;
}

.current-links-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    color: #222;
    text-align: center;
}

.empty-current-links-title {
    margin-top: 1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #222;
    text-align: center;
}

.current-links-container {
    margin-top: 1em;
    height: 32em !important;
    overflow-y: scroll;
}

.current-links-close {
    margin-left: -0.5em;
    margin-right: 0.5em;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    background-color: transparent;
}

.current-links-item {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #222;
    display: inline;
}

/* Option Section Container */
.option-section-container {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    z-index: 99;
    display: none;
}

.option-close-container {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 999;
}

.option-close {
    font-size: 2em;
    color: #222 !important;
    cursor: pointer;
}

.option-close:hover {
    color: rgba(81, 203, 238, 1) !important;
}

.option-area-container {
    height: 9999em;
    background-color: #fff;
    opacity: 0.95;
    overflow-y: hidden;
}

.option-item-row {
    margin-bottom: 1.5em;
}

.option-title {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: #222;
    text-align: center;
}

.option-item-title {
    margin-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #222;
    text-align: right;
}

.option-item {
    min-width: 7em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #222;
    text-align: center;
}

.option-save {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    color: #008000;
    text-align: center;
    display: none;
}


/* Info Modal */
.info-section-container {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    z-index: 99;
    display: none;
}

.info-area-container {
    height: 9999em;
    background-color: #000;
    opacity: 0.87;
    overflow-y: hidden;
    width: 100%;
}

.info-close-container {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 999;
}

.info-close {
    font-size: 2em;
    color: #fff !important;
    cursor: pointer;
}

.info-close:hover {
    color: rgba(81, 203, 238, 1) !important;
}

.info-title {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: #fff;
    text-align: center;
}

.info-modal-container {
    margin-top: 10em;
}

.info-modal {
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 1em;
}

.info-modal-title {
    padding-top: 0.75em;
    margin-bottom: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2.5em;
    color: #222;
    text-align: center;
}

.info-modal-text {
    padding-left: 1em !important;
    padding-right: 1em !important;
    margin-top: 1em;
    margin-bottom: 2em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #222;
    text-align: justify;
}

.info-modal-footer {
    padding-bottom: 0.75em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #222;
    text-align: center;
}


/* Weather More */
.weather-more-container {
    position: fixed;
    bottom: 11em;
    right: 9.5em;
    height: 10em;
    width: 24em;
    background-color: #000;
    opacity: 0.75;
    border-radius: 1em;
    text-align: center;
    display: none;
}

.open {
    display: block;
}

.weather-more-title-row {
    margin-top: 0.75em;
}

.weather-more-title {
    position: relative;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #fff;
    text-align: center;
}

.weather-more-item-row {
    margin-top: 0em;
}

.weather-more-item {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.weather-more-text-row {
    margin-top: 0.5em;
}

.weather-more-text {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    color: #fff;
    text-align: center;
}