*:focus {
    outline: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1060px) {
    .access-container {
        display: none;
    }

    .option-bar-container {
        display: none;
    }

    .access-add-button {
        display: none;
    }

    .weather-location-container {
        display: none;
    }
}

@media all and (max-width: 1040px) {
    .task-title {
        font-size: 1.4em !important;
    }
}

@media all and (max-width: 435px) {
    .task-title {
        font-size: 1.25em !important;
    }
}

.main-container {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/wp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


/* Search Styles */
.search-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.search-bar {
    padding: 1em;
    background-color: transparent;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
    border-radius: 1em !important;
}


/* Notifications, Tasks, Notes, Analytics Styles */
.task-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
}

.nav-section {
    margin-top: 1em;
}

.nav-tabs {
    border: none;
}

.nav-item {
    border-radius: 1em;
}

.active {
    color: #000;
    background-color: #fff;
    opacity: 0.75;
}



#notifications-container {
    height: 22.5em;
    background-color: white;
    opacity: 0.75;
    display: block;
    border-radius: 1em;
    border-top-left-radius: 0;
}

#tasks-container {
    height: 300px;
    background-color: white;
    display: none;
}

#notes-container {
    height: 300px;
    background-color: white;
    display: none;
}

#analytics-container {
    height: 300px;
    background-color: white;
    display: none;
}


/* Quick Access Styles */
.access-container {
    margin-top: 1.9em;
}

.access-link, .access-link:hover, .access-link:visited {
    text-decoration: none !important;
}

.access-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
}

.access-add-button {
    margin-top: 1em;
    padding: 0.1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.access-add-button:hover {
    color: #222;
    background-color: #fff;
    opacity: 0.75;
    border-radius: 1em;
}

.access-item {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    width: 7.5em;
    height: 7.5em;
    background-color: #fff;
    opacity: 0.75;
    border-radius: 1em;
    cursor: pointer;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.access-item:hover {
    box-shadow: 0px 0px 0px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.access-item-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: #222;
}

.access-item-desc {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    color: #222;
}


/* Option Bar, Date, Time, Weather, Location Styles */
.secondary-section {
    margin-top: 1em;
}

.option-container {
    padding-top: 0;
    font-size: 2em;
}

.option-container a {
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.option-container a:hover {
    color: rgba(81, 203, 238, 1);
}

.time-container {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: #fff;
}

.date-container {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #fff;
}

.weather-container {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
    color: #fff;
    text-align: right;
}

.location-container {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    color: #fff;
    text-align: right;
}


/* Manage Section Styles */
.manage-container {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    z-index: 99;
    display: block;
}

.manage-area-container {
    height: 9999em;
    background-color: #fff;
    opacity: 0.9;
    overflow-y: hidden;
}

@media all and (max-width: 425px) {
    .manage-title {
        font-size: 3.5em !important;
    }
}

.manage-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: #222;
    text-align: center;
}

@media all and (max-width: 992px) {
    .new-link-title {
        text-align: left !important;
    }
}

.new-link-title {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.3em;
    color: #222;
    text-align: right;
}

.new-link-bar {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #222;
}

.new-link-button {
    padding-left: 2em;
    padding-right: 2em;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25em;
    color: #222;
}